.formmessenger {
    width: 500px;
    transform: translateX(120%);
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 999;
    background-color: #0076b68f;
    transition: all;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.822);
}
.name-mess {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 0 ; */
}
.logo-mess {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
}
.img-mess-logo {
    display: block;
    width: 80%;
}
.name-page {
    color: white;
    display: inline;
    margin-left: 5px;
}
.icon-mess {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.fas {
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.fa-minus {
    margin-right: 10px;
    padding: 20px;
}
.fa-phone {
    padding: 20px;
}
.fas:hover {
    border-radius: 50%;
    background-color:#7e7e7e;
}
#messages {
    list-style: none;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;

}
.text-mess {
    height: 420px;
    width: 100%;
    border-top: solid 1px #cecece; 
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: auto;
}

.text-mess::-webkit-scrollbar {
    width: 8px;
}
.text-mess::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 50rem;
}
.text-mess::-webkit-scrollbar-track{
    background-color: #f1f1f100;
}
#messages > .mess-text {
    display: flex;

}
.messtext {

    max-width: 70%;
    display: block;
    padding: 15px;
    margin: 5px; 
    word-break: break-word;
}
.mess-server {
    border-radius: 1em;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
.client {
    flex-direction: row-reverse;
    flex-grow: 20px;
}
.space {
    flex-grow: 1;
}

.server {
    flex-grow: 1;
}
.mess-client {
    border-radius:1em;
    background-color: #21D4FD;
    background-image: linear-gradient(-171deg, #21D4FD 0%, #B721FF 100%);
}
.form-group {
    display: block;
    height: 80px;
    width: 100%;

}

.form-control {

    place-content: #ffff;
    color: #ffff;
    background-color: #3f627200;
    border: none;
    overflow: auto;
    outline: none; 
    width: 100%;
    padding: 15px 20px;
    min-height: 80px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/

}
.form-control::-webkit-input-placeholder {
    color: #fff;
}

.btn-success {
    border-radius: 50%;

}

.mess-submit {
    display: flex;
    background-color: #3f6272be;
    height: 80px;
    border-top-right-radius: 50rem;
    border-bottom-right-radius: 50rem;

}
#form-submit {
    padding: 25px 25px;
}
.openmess {

    transform: translateX(0%);
    animation: MenuFadeIn linear .3s;
}

.closemess {
    transform: translateX(120%);
    animation: MenuFadeOut linear .3s;  
}

@keyframes MenuFadeIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes MenuFadeOut {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(120%);
    }
}


.messenger-icon {
    position: fixed;
    bottom: 55%;
    right: 20px;
    display: block;
    color: white;
    padding: 20px;
    border-radius: 5em;
    background-image: linear-gradient(to right, rgb(124, 74, 228), rgb(84, 117, 231));
}
.fas,.far{
    font-size: 30px;
}
.hiden {
    display: none;
}